go 1.26.1

use (
	./pkg/cloudconfig
	./pkg/credenvelope
	./pkg/metrics
	./pkg/reconciler
	./pkg/recovery
	./pkg/worker
	./plugins/credential-aws
	./plugins/credential-do
	./plugins/credential-exoscale
	./plugins/credential-gcp
	./plugins/credential-upcloud
)
