go 1.26.1

use (
	./conformance
	./e2e
	./pkg/capability
	./pkg/cloudconfig
	./pkg/credenvelope
	./pkg/localexpiry
	./pkg/metrics
	./pkg/metricspath
	./pkg/plugintest
	./pkg/reconciler
	./pkg/recovery
	./pkg/telemetry
	./pkg/worker
	./plugins/credential-akamai
	./plugins/credential-aws
	./plugins/credential-azure
	./plugins/credential-do
	./plugins/credential-exoscale
	./plugins/credential-gcp
	./plugins/credential-oci
	./plugins/credential-ovh
	./plugins/credential-upcloud
	./plugins/credential-vultr
)
