go 1.27.0

use (
	./conformance
	./e2e
	./pkg/baotest
	./pkg/capability
	./pkg/cloudconfig
	./pkg/cloudhttp
	./pkg/cloudreal
	./pkg/clusterrole
	./pkg/credenvelope
	./pkg/localexpiry
	./pkg/minteraffinity
	./pkg/mintercapacity
	./pkg/mintledger
	./pkg/ownertag
	./pkg/plugintest
	./pkg/reconciler
	./pkg/recovery
	./pkg/issuedlist
	./pkg/requester
	./pkg/telemetry
	./pkg/totp
	./pkg/upstreampurge
	./pkg/upstreamquota
	./pkg/worker
	./plugins/credential-akamai
	./plugins/credential-aws
	./plugins/credential-azure
	./plugins/credential-do
	./plugins/credential-exoscale
	./plugins/credential-gcp
	./plugins/credential-oci
	./plugins/credential-ovh
	./plugins/credential-upcloud
	./plugins/credential-vultr
)
